<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail-page</title>

</head>
<body>
  <div class="container">
    <div class="row" style="display: inline-block;">
      <h1>{{obj.name}}</h1>
      <div class="dees">
        
        <h4>{{obj.Description}}</h4>
      </div>
      <div class="daas">
        <div>
        <h4 style="margin-left: 20px; padding-top: 60px;"> start date</h4>
        <h4 style="margin-left: 20px;"> end date</h4>
        <h4 style="margin-left: 20px;"> teacher</h4>
        <h4 style="margin-left: 20px;"> locatuion</h4>
      </div>
      <div class="haah">
        <h4 style="margin-left: 20px; padding-top: 40px;"> {{obj.start}}</h4>
        <h4 style="margin-left: 20px;"> {{obj.end}}</h4>
        <h4 style="margin-left: 20px;"> {{obj.teacher}}</h4>
        <h4 style="margin-left: 20px;"> {{obj.location}}</h4>
      </div>
      </div>
    </div>
  </div>
<style>
  .haah{
    position: absolute;
    width: 200px;
    height: 250px;
    background-color: transparent;
    margin-top: -218px;
    margin-left: 200px;

  }
  .dees{
    width: 900px;
    height: 510px;
    background-color: blue 
  }
  .daas{
  
    margin-top: -512px;
    margin-left: 940px;
    width: 400px;
    height: 250px;
    background-color: blue
    
    

  }
</style>

</body>
</html>


